<div>
  <p>e (no formatting): {{e}}</p>
  <p>e (3.1-5):{{e | number:'3.1-5'}}</p>
  <p>pi (no formatting): {{pi}}</p>
  <p>(4.3-5): {{pi | number:'4.3-5'}}</p>
</div>
<h2>Currency</h2>
<p>{{euro | currency:'EUR':true:'4.2-2'}}</p>
<p>{{euro | currency:'JPY':true}}</p>
<h2>uppercase/lowercase</h2>
<p>{{str | uppercase}}</p>
<p>{{str | lowercase}}</p>
<h2>date</h2>
<p>{{date | date:'medium'}}</p>
<p>{{date | date:'short'}}</p>
<p>{{date | date:'fullDate'}}</p>
<p>{{date | date:'longDate'}}</p>
<p>{{date | date:'mediumDate'}}</p>
<p>{{date | date:'shortDate'}}</p>
<p>{{date | date:'mediumTime'}}</p>
<p>{{date | date:'shortTime'}}</p>
<h2>percent</h2>
<p>{{a | percent}}</p>
<p>{{b | percent:'1.3-9'}}</p>
<h2>json</h2>
<div>{{data|json}}</div>
<h2>slice</h2>
<ul>
  <li *ngFor="let prefecture of data.Kanto | slice:0:3">{{prefecture.name}} - {{prefecture.population}}</li>
</ul>
<h2>async</h2>
<p>{{countObservable | async}}</p>
<h2>i18n</h2>
<p>{{cats.length | i18nPlural: catMapping}}</p>
<p>{{ lang | i18nSelect: langMap }}</p>

