<p>1 + 1 = {{1 + 1}}</p>
<p>{{a}}*{{b}}</p>
<p>{{c}}+{{d}}={{[c, d].join(' ')}}</p>
<p>eが{{e}}であれば、{{c}} => {{(e)? c:d}}</p>

<button (click)="clickButton($event)">ボタン</button>

<button [disabled]="isDisabled">ボタン</button>
<img [src]="imagePath" />

<table>
  <tr>
    <td [attr.colspan]="colspanSize">2セルを1セルとする</td>
  </tr>
  <tr>
    <td>1セル目</td>
    <td>2セル目</td>
  </tr>
</table>
<!-- 2-1-6 -->
<app-class-binding></app-class-binding>
<!-- 2-1-7 -->
<app-style-binding></app-style-binding>
<!-- 2-1-8 -->
<app-two-way></app-two-way>
<!-- 2-2-1 -->
<app-simple></app-simple>
<!-- 2-2-2 -->
<div appUnderline>Directiveのサンプル</div>
<!-- 2-2-3 -->
<app-sum></app-sum>
<h1>2-2-4:親子の受け渡し</h1>
<app-parent></app-parent>
<h1>2-3-1:ngClassディレクティブ</h1>
<button [ngClass]="'btn btn-default'">ngClass Sample1</button>
<button [ngClass]="['btn','btn-info']">ngClass Sample2</button>
<button [ngClass]="{'btn btn-default': sample3}" (click)="sample3 = !sample3">ngClass Sample3</button>
<button class="btn" [ngClass]="{'btn-default': !sample4, 'btn-info':sample4}" (click)="sample4 = !sample4">ngClass Sample4</button>
<h1>2-3-2:ngStyleディレクティブ</h1>
<app-ng-style></app-ng-style>
<h1>2-3-3:ngForディレクティブ</h1>
<app-ng-for></app-ng-for>
<h1>2-3-4:ngIfディレクティブ</h1>
<button (click)="model1 = !model1">Click Me</button>
<p *ngIf="model1">Hello Angular !!</p>
<button (click)="model2=!model2">Click Me</button>
<div *ngIf="model2; else elseCase;">Truthyケース</div>
<ng-template #elseCase><div>Falsyケース</div></ng-template>
