<p>1 + 1 = {{1 + 1}}</p>
<p>{{a}}*{{b}}</p>
<p>{{c}}+{{d}}={{[c, d].join(' ')}}</p>
<p>eが{{e}}であれば、{{c}} => {{(e)? c:d}}</p>

<button (click)="clickButton($event)">ボタン</button>

<button [disabled]="isDisabled">ボタン</button>
<img [src]="imagePath" />

<table>
  <tr>
    <td [attr.colspan]="colspanSize">2セルを1セルとする</td>
  </tr>
  <tr>
    <td>1セル目</td>
    <td>2セル目</td>
  </tr>
</table>
<!-- 2-1-6 -->
<app-class-binding></app-class-binding>
<!-- 2-1-7 -->
<app-style-binding></app-style-binding>
<!-- 2-1-8 -->
<app-two-way></app-two-way>
<!-- 2-2-1 -->
<app-simple></app-simple>
<!-- 2-2-2 -->
<div appUnderline>Directiveのサンプル</div>
<!-- 2-2-3 -->
<app-sum></app-sum>
<h1>2-2-4:親子の受け渡し</h1>
<app-parent></app-parent>
<h1>2-3-1:ngClassディレクティブ</h1>
<button [ngClass]="'btn btn-default'">ngClass Sample1</button>
<button [ngClass]="['btn','btn-info']">ngClass Sample2</button>
<button [ngClass]="{'btn btn-default': sample3}" (click)="sample3 = !sample3">ngClass Sample3</button>
<button class="btn" [ngClass]="{'btn-default': !sample4, 'btn-info':sample4}" (click)="sample4 = !sample4">ngClass Sample4</button>
<h1>2-3-2:ngStyleディレクティブ</h1>
<app-ng-style></app-ng-style>
<h1>2-3-3:ngForディレクティブ</h1>
<app-ng-for></app-ng-for>
<h1>2-3-4:ngIfディレクティブ</h1>
<button (click)="model1 = !model1">Click Me</button>
<p *ngIf="model1">Hello Angular !!</p>
<button (click)="model2=!model2">Click Me</button>
<div *ngIf="model2; else elseCase;">Truthyケース</div>
<ng-template #elseCase>
  <div>Falsyケース</div>
</ng-template>
<h1>2-3-5:ngSwitchディレクティブ</h1>
<label for="">
<input type="radio" name="switch" value="morning" [(ngModel)]="model1">あさ
</label>
<label for="">
<input type="radio" name="switch" value="noon" [(ngModel)]="model1">ひる
</label>
<label for="">
<input type="radio" name="switch" value="night" [(ngModel)]="model1">よる
</label>
<div [ngSwitch]="model1">
  <div *ngSwitchCase="'morning'">おはようございます</div>
  <div *ngSwitchCase="'noon'">こんにちは</div>
  <div *ngSwitchCase="'night'">こんばんは</div>
  <div *ngSwitchDefault></div>
</div>
<h1>2-4:パイプ</h1>
<app-pipe></app-pipe>
<h1>4-2-1:selector</h1>
<selector></selector>
<h1>4-2-2:Inputs</h1>
<app-inputs></app-inputs>
<h1>4-2-3:Outputs</h1>
<app-outputs></app-outputs>
<h1>4-2-4:host</h1>
<app-host></app-host>
<h1>4-2-5:exportAs</h1>
<app-export-as></app-export-as>
<h1>4-2-7:providers</h1>
<app-providers></app-providers>
<h1>4-2-8:ViewProviders</h1>
<app-view-providers-container></app-view-providers-container>
<h1>4-2-9:ChangeDetection</h1>
<app-change-detection-on-push></app-change-detection-on-push>
<h2>4-2-10:Queries</h2>
<app-queries></app-queries>
<h2>4-2-11:templareUrl</h2>
<app-template></app-template>
<h2>4-2-12:styleUrl</h2>
<app-style></app-style>
<h2>4-2-13:animations</h2>
<app-animation></app-animation>
<h2>4-2-14:interpolation</h2>
<app-interpolation></app-interpolation>
<h2>4-3:Input/Output</h2>
<app-counter-container></app-counter-container>
<app-counter-container-with-setter></app-counter-container-with-setter>
<h2>4-4:HostListener/HostBinding</h2>
<app-host-decorator></app-host-decorator>
<h2>4-5-4:trigger</h2>
<app-transition></app-transition>
<h2>4-5-5:state</h2>
<app-state></app-state>
<app-state2></app-state2>
<h2>4-5-6:transition</h2>
<app-transition2></app-transition2>
<app-transition3></app-transition3>
<h2>4-5-7:style</h2>
<app-animation-style></app-animation-style>
<app-style2></app-style2>
<h2>4-5-8:animate</h2>
<app-animate></app-animate>
<app-animate2></app-animate2>
<h2>4-5-9:keyframes</h2>
<app-keyframes></app-keyframes>
<h2>4-5-10:group</h2>
<app-group></app-group>
<h2>4-5-11:sequence</h2>
<app-sequence></app-sequence>
